<!DOCTYPE html>
<html>
	<head>
	    <title>Scelta attori</title>
	    <link rel="stylesheet" href="/css/admin/actors_to_add_style.css" />
		<div th:replace="fragments/css :: css-dep"></div>
	</head>

	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
	
		<div class="container">
			<h1 class="movie-title" th:text="'Attori del film ' + ${movie.title}"></h1>
			<div class="empty-actors" th:if="${movie.actors.isEmpty()}">Non ci sono attori per questo film</div>
			<ul class="actor-list">
			  <li class="actor-item" th:each="actor : ${movie.actors}">
			    <span class="actor-name" th:text="${actor.name}+' '+${actor.surname}"></span>
			    <a class="remove-actor" th:href="@{'/admin/removeActorFromMovie/'+ ${actor.id}+'/'+${movie.id}}">Cancella</a>
			  </li>
			</ul>
			<div class="actors-to-add">
			  Attori che si possono aggiungere:
			  <ul class="add-actor-list">
			    <li class="add-actor-item" th:each="actor : ${actorsToAdd}">
			      <span class="add-actor-name" th:text="${actor.name}+' '+${actor.surname}"></span>
			      <a class="add-actor" th:href="@{'/admin/addActorToMovie/'+ ${actor.id}+'/'+${movie.id}}">Aggiungi</a>
			    </li>
			  </ul>
			</div>
			<div class="button-container">
				<a class="update-movie-link" th:href="@{'/movie' + '/' + ${movie.id}}"><button class="update-movie-button" type="button">Fine</button></a>
			</div>
		</div>
	</body>
</html>
