<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Cancella Recensione</title>
	    <link rel="stylesheet" href="/css/admin/delete_review_style.css" />
		<div th:replace="fragments/css :: css-dep"></div>
	</head>
<body>
	
	<div th:replace="fragments/navbar :: navbar"></div>
	
	<div class="container">
		<h1 class="delete-review-title">Delete Review</h1>
        <form th:action="@{/reviews/delete}" method="post" class="delete-review-form">
            <input type="hidden" name="Id" th:value="${review.id}">
            <h3 class="review-title">Titolo: <span th:text="${review.title}"></span></h3>
            <p class="review-score">Valutazione: <span th:text="${review.score}"></span></p>
            <p class="review-text">Testo: <span th:text="${review.text}"></span></p>
            <p class="confirmation-message">Sei sicuro di voler eliminare questa recensione?</p>
            <input type="submit" value="Elimina" class="delete-button">
        </form>
	</div>
    

</body>
</html>
