<!DOCTYPE html>
<html>
	<head>
		<title>
			Aggiornamento Film
		</title>
		<link rel="stylesheet" href="/css/admin/form_update_movie_style.css" />
		<div th:replace="fragments/css :: css-dep"></div>
	</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	
	<div class="container">
		<h1 class="update-movie-title">Aggiorna film</h1>
	
		<div th:if="${movie}" class="movie-details">
		    <div class="movie-info">
		        <span th:text="${movie.title}" class="movie-title">Up!</span>
		        <span th:text="'(' + ${movie.year} + ')'">2000</span>
		    </div>
		    <div th:if="${movie.director}" class="director-info">
		        <span>Regista: </span>
		        <span th:text="${movie.director.name} + ' ' + ${movie.director.surname}" class="director-name">Steven Spielberg</span>
		        <a th:href="@{'/admin/addDirector/' + ${movie.id}}" class="modify-director">Modifica regista</a>
		    </div>
		    <div class="actors-info">
		        <span>Attori: </span>
		        <div th:each="actor: ${movie.actors}" class="actor">
		            <span th:text="${actor.name} + ' ' + ${actor.surname}">Al Pacino</span>
		        </div>
		        <a th:href="@{'/admin/updateActors/' + ${movie.id}}" class="modify-actors">
		            <button type="button">Modifica</button>
		        </a>
		    </div>
		    <div th:unless="${movie}" class="non-existing-movie">Film non esistente</div>
		</div>
	</div>


</body>

</html>