<!DOCTYPE html>
<html>
	<head>
		<title>
			Nuovo Film
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/form_new_movie_style.css" />		
	</head>

	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<div class="container">
			
			<h1 class="mt-4 mb-4">
			    <span class="ms-2">Nuovo Film</span>
			</h1>
			
			<form th:action="@{/admin/newMovie}" method="POST" th:object="${movie}" enctype="multipart/form-data" class="mb-4">
			    <div class="row">
			        <div class="col-md-6 mb-3">
			            <label for="title" class="form-label"><b>Titolo:</b></label>
			            <input required type="text" class="form-control" id="title" th:field="${movie.title}">
			            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
			        </div>
			        <div class="col-md-6 mb-3">
			            <label for="year" class="form-label"><b>Anno di uscita:</b></label>
			            <input required type="number" min="1958" max="2023" class="form-control" id="year" th:field="${movie.year}">
			            <div class="invalid-feedback" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>
			        </div>
			    </div>
			    <div class="row">
			        <div class="col-md-6 mb-3">
			            <label for="director" class="form-label"><b>Regista:</b></label>
			            <select required class="form-select" id="director" name="directorId">
			                <option value="" disabled selected>Scegli un regista</option>
			                <option th:each="artist : ${artists}" th:value="${artist.id}" th:text="${artist.name} + ' ' + ${artist.surname}"></option>
			            </select>
			            <div class="invalid-feedback" th:if="${#fields.hasErrors('director')}" th:errors="*{director}"></div>
			        </div>
			         <div class="col-md-6 mb-3">
			            <label for="image" class="form-label"><b>Immagine:</b></label>
			            <input required type="file" name="file" class="form-control" id="file" accept="file/png, file/jpeg, file/jpg">
			            <div class="invalid-feedback" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></div>
			        </div>
			    </div>
				<div class="mt-2 mb-2">Non trovi il regista? <a href="/admin/formNewArtist"><u>Clicca per aggiungere un nuovo artista</u></a></div>
			    <div class="mt-4 mb-3">
			        <label for="description" class="form-label"><b>Descrizione:</b></label>
			        <textarea required class="form-control" id="description" rows="5" th:field="${movie.description}"></textarea>
			    </div>
			    <div>
			        <button type="submit" class="btn btn-success">Conferma</button>
			    </div>
			</form>
		</div>
	</body>
</html>