<!DOCTYPE html>
<html>

<head>
	<title>Gestisci Film</title>
	<link rel="stylesheet" href="/css/admin/manage_movies_style.css" />
	<div th:replace="fragments/css :: css-dep"></div>


</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	
	<div class="container">
		<h1 class="film-title">Film</h1>
		<div class="film-empty-message" th:if="${movies.isEmpty()}">Non ci sono film nel sistema</div>
		<ul class="film-list">
		    <li th:each="movie : ${movies}" class="film-item">
		        <span th:text="${movie.title} + ' (' + ${movie.year} + ')'">Up! (2000)</span>
		        <a th:href="@{'/admin/formUpdateMovie' + '/' + ${movie.id}}" class="film-update-link">Aggiorna</a>
		    </li>
		</ul>
	</div>

	


</body>

</html>