<!DOCTYPE html>
<html>
	<head>
		<title>Dettagli Artista</title>
		<div th:replace="fragments/css :: css-dep"></div>
	</head>

	<body>
		<div th:replace="fragments/navbar :: navbar"></div>

		<div class="container">
			<div class="artist-details">
			    <div th:if="${artist}">
					<div th:if="${currentUser != null && currentUser.isAdmin()}">
						<a th:href="@{'/admin/updateArtist/' + ${artist.id}}" >Modifica dati artista </a><br>
					</div>
			        <h1 class="artist-name"><span th:text="${artist.name} + ' ' + ${artist.surname}"></span></h1>
			        <div class="artist-info">
			            <p class="mb-3"><span th:text="'(' + ${artist.dateOfBirth} + ')'">20/20/2000</span></p>
			            <div th:if= "${!artist.starredMovies.isEmpty()}">
			                <h2>Film dove ha recitato</h2>
			                <ul class="movie-list">
			                    <li th:each="movie : ${artist.starredMovies}" class="movie-list-item">
			                        <a th:href="@{'/movie/' + ${movie.id}}" th:text="${movie.title}"></a>
			                    </li>
			                </ul>
			            </div>
			            <div th:if= "${!artist.directedMovies.isEmpty()}">
			                <h2>Film che ha diretto</h2>
			                <ul class="movie-list">
			                    <li th:each="movie : ${artist.directedMovies}" class="movie-list-item">
			                        <a th:href="@{'/movie/' + ${movie.id}}" th:text="${movie.title}"></a>
			                    </li>
			                </ul>
			            </div>
			        </div>
			        <div th:if="${artist.image} != null">
			            <img th:src="@{'/display/image/' + ${artist.image.id}}" class="img-fluid" alt="Artist Image">
			        </div>
			    </div>
			    <div th:unless="${artist}" class="not-found">Non esiste</div>
			</div>
		</div>
	</body>
</html>
