<!DOCTYPE html>
<html>
	<head>
		<title>Registrazione</title>
		<div th:replace="fragments/css :: css-dep"></div>
	    <link rel="stylesheet" href="/css/form_register_user_style.css" />
	</head>

	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<section class="vh-auto" style="background-color: #eee; padding: 2%;" >
		  <div class="container h-100">
		    <div class="row d-flex justify-content-center align-items-center h-100">
		      <div class="col-lg-12 col-xl-11">
		        <div class="card text-black" style="border-radius: 25px;">
		          <div class="card-body p-md-5">
		            <div class="row justify-content-center">
		              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
		
		                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrazione</p>
		
		                <form th:action="@{/register}" method="POST" class="mx-1 mx-md-4" enctype="multipart/form-data">
		
		                  <div class="d-flex flex-row align-items-center mb-4">
		                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
		                    <div class="form-outline flex-fill mb-0">
		                      <span><input type="text" placeholder="Nome" id="name" required th:field="${user.name}" class="form-control" /></span>
							  <span th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}" class="error-message">
		                      <label class="form-label" for="name">Nome</label>
		                    </div>
		                  </div>
		                  
						  <div class="d-flex flex-row align-items-center mb-4">
		                    <i class="fas fa-address-card fa-lg me-3 fa-fw"></i>
		                    <div class="form-outline flex-fill mb-0">
		                      <span><input type="text" placeholder="Cognome" id="surname" required th:field="${user.surname}" class="form-control" /></span>
							  <span th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}" class="error-message">
		                      <label class="form-label" for="surname">Cognome</label>
		                    </div>
		                  </div>
		                  
						  <div class="d-flex flex-row align-items-center mb-4">
		                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
		                    <div class="form-outline flex-fill mb-0">
		                      <span><input type="text" placeholder="Email" id="email" required th:field="${user.email}" class="form-control" /></span>
							  <span th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}" class="error-message">
		                      <label class="form-label" for="email">Email</label>
		                    </div>
		                  </div>
		                  
		                  <div class="d-flex flex-row align-items-center mb-4">
		                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
		                    <div class="form-outline flex-fill mb-0">
		                      <span><input type="text" placeholder="Username" id="username" required th:field="${credentials.username}" class="form-control" /></span>
							  <span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}" class="error-message">
		                      <label class="form-label" for="username">Username</label>
		                    </div>
		                  </div>
		                  
		                  <div class="d-flex flex-row align-items-center mb-4">
		                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
		                    <div class="form-outline flex-fill mb-0">
		                      <span><input type="password" placeholder="Password" id="password" required th:field="${credentials.password}" class="form-control" /></span>
							  <span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}" class="error-message">
		                      <label class="form-label" for="password">Password</label>
		                    </div>
		                  </div>
		                  
						  <div class="d-flex flex-row align-items-center mb-4">
		                    <i class="fas fa-picture fa-lg me-3 fa-fw"></i>
					         <div class="col-md-6 mb-3">
					            <label for="image" class="form-label"><b>Foto Profilo:</b></label>
					            <input type="file" name="file" class="form-control" id="image">
					            <div class="invalid-feedback" th:if="${#fields.hasErrors('user.image')}" th:errors="*{user.image}"></div>
					        </div>
		                  </div>

		                  <div class="form-check d-flex justify-content-center mb-5">
		                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
		                    <label class="form-check-label" for="form2Example3">
		                      Ho letto e accettato i <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Termini e Condizioni</a>
		                    </label>
		                  </div>
		
		                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
		                    <button type="submit" class="btn btn-success btn-lg">Registrati</button>
		                  </div>
		                  
  						  <p class="text-center text-muted mt-4 mb-0">Hai già un account? 
							  <a th:href="@{/login}" class="fw-bold text-body"><u>Accedi</u></a>
						  </p>
		
		                </form>
		
		              </div>
		              
					  <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2 justify-content-center text-center">
		                <img src="https://www.freepnglogos.com/uploads/rick-and-morty-png/rick-and-morty-portal-moon-mod-download-35.png"
		                  class="img-fluid" width="90%" alt="Sample image">
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</section>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>
