<!DOCTYPE html>
<html>
	<head>
		<title>SiwMovie - Homepage</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/index_style.css" />
	</head>

	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<div class="container">
			<div class="index-title" th:if="${userDetails}">
				<h2 th:text="'Ciao, ' + ${currentUser.name} + '!'"></h2>
			</div>
			<h1 class="index-title">Benvenuto in SIW Movie</h1>
			<h4 class="index-title">Consulta l'archivio</h1>
			<div class="button-container">
				<a class="movie-list-option" href="/movies">
					<i class="fas fa-film"></i> Film
				</a>
				<a class="artist-list-option" href="/artists">
					<i class="fas fa-theater-masks"></i> Artisti
				</a>
			</div>
		</div>
	</body>
</html>
