<!DOCTYPE html>

<html>

  <head>
    <title>User</title>
    <link rel="stylesheet" href="/css/stile.css" />
  </head>

  <body>
    <h1>Profilo</h1>
  
    <div th:object="${user}">
       <p>Nome: <span th:text="${userDetails.name}"></span></p>
       <p>Cognome: <span th:text="${userDetails.surname}"></span></p>
       <p>Email: <span th:text="${userDetails.email}"></span></p>
    </div>
  
    <p>
      <a href="index.html" th:href="@{/}">Ritorna alla home</a>
    </p>
    
  </body>
  
</html>
